<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160131927785-m0lm8l3912tfkv3ctclpfn95mmk2q56r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160131927785-m0lm8l3912tfkv3ctclpfn95mmk2q56r</string>
	<key>API_KEY</key>
	<string>AIzaSyBu_C0894vd17HRM8QKaBso1Ww6PxUcrDI</string>
	<key>GCM_SENDER_ID</key>
	<string>160131927785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ditumbas.android</string>
	<key>PROJECT_ID</key>
	<string>ditumbas-d17ae</string>
	<key>STORAGE_BUCKET</key>
	<string>ditumbas-d17ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160131927785:ios:f508a08c8444e4c2baaa78</string>
</dict>
</plist>